<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keyboards" content="HTML 5, CSS3, JavaScript, JQuery, AngularJs"/>
  <meta name="description" content="Dynamic web development">
  <meta name="author" content="edmond">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <title>Congenital Syphilis Page</title>

  <style media="screen">

  </style>
</head>
<body>
  <div class="headnav">
  <nav class="topnav">
    <ul>
      <li style="float:left;"><a href="Registration.html">Register New Client</a></li>
      <li><a href="forms.html">Home</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>
  <header>
    <h1>CONGENITAL SYPHILIS (CS) CASE INVESTIGATION AND REPORT </h1>
  </header>
  </div>
  <section>
    <nav class="col-3">
      <ul>
        <li><a href="Personal_info.html">Personal Information </a> </li>
        <li><a href="Risk_factors.html">Risk Factor Information</a> </li>
        <li><a href="HEPB_form.html">Hepatitis B Pregnant Women Reporting form</a></li>
        <li><a href="CONGEN_SYPHILIS.html"> <strong>Congenital Syphilis Form</strong> </a></li>
        <li><a href="STI_form.html">Chlamydia & Gonorrhea case reporting form</a></li>
      </ul>
    </nav>
  <article class="col-9">
    <form action="#" method="post">
      <h2>Congenital Syphilis Form</h2>
  <table>
    <tr>
      <th>1. Report date to health dept.</th>
      <td>
        <input type="checkbox" id="report-date-unknown" name="report-date-unknown">
        <label for="report-date-unknown">Unk</label>
        <input type="date" id="report-date" name="report-date">
      </td>
      <th>2. Reporting state FIPS code:</th>
      <td>
        <input type="checkbox" id="reporting-state-unknown" name="reporting-state-unknown">
        <label for="reporting-state-unknown">Unk</label>
        <input type="text" id="reporting-state-fips" name="reporting-state-fips">
        <input type="text" id="reporting-state-name" name="reporting-state-name" placeholder="Reporting State Name">
      </td>
      <th>3. Reporting county FIPS code:</th>
      <td>
        <input type="checkbox" id="reporting-county-unknown" name="reporting-county-unknown">
        <label for="reporting-county-unknown">Unk</label>
        <input type="text" id="reporting-county-fips" name="reporting-county-fips">
        <input type="text" id="reporting-county-name" name="reporting-county-name" placeholder="Reporting County Name">
      </td>
    </tr>
    <tr>
      <th colspan="6">Part I. Maternal Information</th>
    </tr>
    <tr>
      <th>4. Mother’s state FIPS code:</th>
      <td>
        <input type="checkbox" id="mother-state-unknown" name="mother-state-unknown">
        <label for="mother-state-unknown">Unk</label>
        <input type="text" id="mother-state-fips" name="mother-state-fips">
        <input type="text" id="mother-state-name" name="mother-state-name" placeholder="Mother’s Residence State">
      </td>
      <th>5. Mother’s Country of residence:</th>
      <td colspan="3">
        <input type="text" id="mother-country-residence" name="mother-country-residence" placeholder="Mother’s Country of Residence">
      </td>
    </tr>
    <tr>
      <th>6. Mother’s residence county FIPS code:</th>
      <td>
        <input type="checkbox" id="mother-county-unknown" name="mother-county-unknown">
        <label for="mother-county-unknown">Unk</label>
        <input type="text" id="mother-county-fips" name="mother-county-fips">
        <input type="text" id="mother-county-name" name="mother-county-name">
      </td>
      <th>7. Mother’s residence ZIP code:</th>
      <td>
        <input type="checkbox" id="mother-zip-unknown" name="mother-zip-unknown">
        <label for="mother-zip-unknown">Unk</label>
        <input type="text" id="mother-zip-code" name="mother-zip-code">
      </td>
      <th>8. Mother’s date of birth:</th>
      <td>
        <input type="checkbox" id="mother-dob-unknown" name="mother-dob-unknown">
        <label for="mother-dob-unknown">Unk</label>
        <input type="date" id="mother-date-of-birth" name="mother-date-of-birth">
      </td>
    </tr>
    <tr>
      <th>9. Mother’s obstetric history:</th>
      <td colspan="5">
        <label for="gravida">G</label>
        <input type="text" id="gravida" name="gravida" placeholder="G=pregnancies">
        <label for="para">P</label>
        <input type="text" id="para" name="para" placeholder="P=live births">
      </td>
    </tr>
    <tr>
      <th>10. Last menstrual period (LMP) (before delivery):</th>
      <td>
        <input type="text" id="lmp" name="lmp">
        <input type="checkbox" id="lmp-unknown" name="lmp-unknown">
        <label for="lmp-unknown">Unk</label>
      </td>
      <th>11. a) Indicate date of first prenatal visit:</th>
      <td>
        <input type="date" id="first-prenatal-date" name="first-prenatal-date">
        <label for="no-prenatal-care"><input type="checkbox" id="no-prenatal-care" name="no-prenatal-care"> No prenatal care (Go to Q12)</label>
        <input type="checkbox" id="first-prenatal-unknown" name="first-prenatal-unknown">
        <label for="first-prenatal-unknown">Unk</label>
      </td>
      <th>11. b) Indicate trimester of first prenatal visit:</th>
      <td>
        1 <input type="checkbox" id="first-trimester" name="first-trimester"> 1st trimester
       2 <input type="checkbox" id="second-trimester" name="second-trimester"> 2nd trimester
        3 <input type="checkbox" id="third-trimester" name="third-trimester"> 3rd trimester
        <input type="checkbox" id="trimester-unknown" name="trimester-unknown">
        <label for="trimester-unknown">Unk</label>
      </td>
    </tr>
    <tr>
        <th>12. Mother’s ethnicity:</th>
        <td>
          1 <input type="checkbox" id="hispanic-latino" name="hispanic-latino"> Hispanic or Latino
          2 <input type="checkbox" id="non-hispanic-latino" name="non-hispanic-latino"> Non-Hispanic or Latino
          <input type="checkbox" id="mother-ethnicity-unknown" name="mother-ethnicity-unknown">
          <label for="mother-ethnicity-unknown">Unk</label>
        </td>
        <th>13. Mother’s race: (check all that apply)</th>
        <td colspan="3">
          <input type="checkbox" id="race-american-indian" name="race-american-indian">
          <label for="race-american-indian">American Indian/Alaska Native</label>
          <input type="checkbox" id="race-black-african-american" name="race-black-african-american">
          <label for="race-black-african-american">Black or African American</label>
          <input type="checkbox" id="race-asian" name="race-asian">
          <label for="race-asian">Asian</label>
          <input type="checkbox" id="race-hawaiian-pacific-islander" name="race-hawaiian-pacific-islander">
          <label for="race-hawaiian-pacific-islander">Native Hawaiian or Other Pacific Islander</label>
          <input type="checkbox" id="race-white" name="race-white">
          <label for="race-white">White</label>
          <input type="checkbox" id="race-other" name="race-other">
          <label for="race-other">Other</label>
          <input type="checkbox" id="race-unknown" name="race-unknown">
          <label for="race-unknown">Unk</label>
        </td>
      </tr>
      <tr>
<th>14. Did mother have non-treponemal or treponemal tests at:</th>
<td>
  a) first prenatal visit? &nbsp;
  1 <input type="checkbox" id="first-prenatal-test-yes" name="first-prenatal-test-yes"> Yes
  2 <input type="checkbox" id="first-prenatal-test-no" name="first-prenatal-test-no"> No
  <input type="checkbox" id="first-prenatal-test-unknown" name="first-prenatal-test-unknown"> Unk
</td>
<td>
  b) 28–32 weeks gestation? &nbsp;
  1 <input type="checkbox" id="gestation-test-yes" name="gestation-test-yes"> Yes
  2 <input type="checkbox" id="gestation-test-no" name="gestation-test-no"> No
  <input type="checkbox" id="gestation-test-unknown" name="gestation-test-unknown"> Unk
</td>
<td>
  c) delivery? &nbsp;
  1 <input type="checkbox" id="delivery-test-yes" name="delivery-test-yes"> Yes
  2 <input type="checkbox" id="delivery-test-no" name="delivery-test-no"> No
  <input type="checkbox" id="delivery-test-unknown" name="delivery-test-unknown"> Unk
</td>
</tr>

<tr>
<th>15. Mother’s marital status:</th>
<td colspan="5">
  1 <input type="checkbox" id="marital-status-single" name="marital-status-single"> Single, never married.
  2 <input type="checkbox" id="marital-status-married" name="marital-status-married"> Married.
  3 <input type="checkbox" id="marital-status-separated-divorced" name="marital-status-separated-divorced"> Separated/Divorced.
  4 <input type="checkbox" id="marital-status-widow" name="marital-status-widow"> Widow.
  5 <input type="checkbox" id="marital-status-other" name="marital-status-other"> Other
  <input type="checkbox" id="marital-status-unknown" name="marital-status-unknown"> Unk
</td>
</tr>

<tr>
  <th>16. Indicate during pregnancy and delivery, dates and results of a) most recent and b) first non-treponemal tests:</th>
</tr>
<tr>
  <th>Date:</th>
  <td colspan="5">
    a) <input type="date" id="most-recent-test-date" name="most-recent-test-date">
    <input type="checkbox" id="most-recent-test-date-unknown" name="most-recent-test-date-unknown"> Unk &nbsp;
    b) <input type="date" id="first-test-date" name="first-test-date">
    <input type="checkbox" id="first-test-date-unknown" name="first-test-date-unknown"> Unk
  </td>
</tr>
<tr>
  <th>Results:</th>
  <td colspan="5">
    1 <input type="checkbox" id="most-recent-test-result-reactive" name="most-recent-test-result-reactive"> Reactive
    2 <input type="checkbox" id="most-recent-test-result-nonreactive" name="most-recent-test-result-nonreactive"> Nonreactive
    <input type="checkbox" id="most-recent-test-result-unknown" name="most-recent-test-result-unknown"> Unk &nbsp;
    1 <input type="checkbox" id="first-test-result-reactive" name="first-test-result-reactive"> Reactive
    2 <input type="checkbox" id="first-test-result-nonreactive" name="first-test-result-nonreactive"> Nonreactive
    <input type="checkbox" id="first-test-result-unknown" name="first-test-result-unknown"> Unk
  </td>
</tr>
<tr>
  <th>Titer:</th>
  <td colspan="5">
    1: <input type="text" id="most-recent-test-titer" name="most-recent-test-titer">
    1: <input type="text" id="first-test-titer" name="first-test-titer">
  </td>
</tr>

<tr>
  <th>17. Indicate during pregnancy, date, type, and result of a) first and b) most recent treponemal tests:</th>
</tr>
<tr>
  <th>Date</th>
  <td colspan="5">
    a) <input type="date" id="first-treponemal-test-date" name="first-treponemal-test-date">
    <input type="checkbox" id="first-treponemal-test-date-unknown" name="first-treponemal-test-date-unknown"> Unk &nbsp;
    b) <input type="date" id="recent-treponemal-test-date" name="recent-treponemal-test-date">
    <input type="checkbox" id="recent-treponemal-test-date-unknown" name="recent-treponemal-test-date-unknown"> Unk
  </td>
</tr>
<tr>
  <th>Test Type</th>
  <td colspan="5">
    a)
    1 <input type="checkbox" id="first-treponemal-test-type-eia-clia" name="first-treponemal-test-type-eia-clia"> EIA or CLIA
    2 <input type="checkbox" id="first-treponemal-test-type-tp-pa" name="first-treponemal-test-type-tp-pa"> TP-PA
    3 <input type="checkbox" id="first-treponemal-test-type-other" name="first-treponemal-test-type-other"> Other
    <input type="checkbox" id="first-treponemal-test-type-unknown" name="first-treponemal-test-type-unknown"> Unk &nbsp;
    b)
    1 <input type="checkbox" id="recent-treponemal-test-type-eia-clia" name="recent-treponemal-test-type-eia-clia"> EIA or CLIA
    2 <input type="checkbox" id="recent-treponemal-test-type-tp-pa" name="recent-treponemal-test-type-tp-pa"> TP-PA
    3 <input type="checkbox" id="recent-treponemal-test-type-other" name="recent-treponemal-test-type-other"> Other
    <input type="checkbox" id="recent-treponemal-test-type-unknown" name="recent-treponemal-test-type-unknown"> Unk
  </td>
</tr>
<tr>
  <th>Results</th>
  <td colspan="5">
    a)
    1 <input type="checkbox" id="first-treponemal-test-result-reactive" name="first-treponemal-test-result-reactive"> Reactive
    2 <input type="checkbox" id="first-treponemal-test-result-nonreactive" name="first-treponemal-test-result-nonreactive"> Nonreactive
    <input type="checkbox" id="first-treponemal-test-result-unknown" name="first-treponemal-test-result-unknown"> Unk &nbsp;
    b)
    1 <input type="checkbox" id="recent-treponemal-test-result-reactive" name="recent-treponemal-test-result-reactive"> Reactive
    2 <input type="checkbox" id="recent-treponemal-test-result-nonreactive" name="recent-treponemal-test-result-nonreactive"> Nonreactive
    <input type="checkbox" id="recent-treponemal-test-result-unknown" name="recent-treponemal-test-result-unknown"> Unk
  </td>
</tr>

<tr>
  <th>18. What was mother’s HIV status during pregnancy?</th>
  <td colspan="5">
    P <input type="checkbox" id="hiv-status-positive" name="hiv-status-positive"> positive
    E <input type="checkbox" id="hiv-status-equivocal" name="hiv-status-equivocal"> equivocal test
    X <input type="checkbox" id="hiv-status-not-tested" name="hiv-status-not-tested"> patient not tested
    N <input type="checkbox" id="hiv-status-negative" name="hiv-status-negative"> negative
    U <input type="checkbox" id="hiv-status-unknown" name="hiv-status-unknown"> Unk
  </td>
</tr>
<tr>
  <th>19. What CLINICAL stage of syphilis did mother have during pregnancy?</th>
  <td colspan="5">
    1 <input type="checkbox" id="syphilis-stage-primary" name="syphilis-stage-primary"> primary
    2 <input type="checkbox" id="syphilis-stage-secondary" name="syphilis-stage-secondary"> secondary
    3 <input type="checkbox" id="syphilis-stage-early-latent" name="syphilis-stage-early-latent"> early latent
    4 <input type="checkbox" id="syphilis-stage-late-latent" name="syphilis-stage-late-latent"> late or late latent
    5 <input type="checkbox" id="syphilis-stage-previously-treated" name="syphilis-stage-previously-treated"> previously treated/serofast
      <input type="checkbox" id="syphilis-stage-other" name="syphilis-stage-other"> Other
      <input type="checkbox" id="syphilis-stage-unknown" name="syphilis-stage-unknown"> Unk
  </td>
</tr>

<tr>
  <th>20. What SURVEILLANCE stage of syphilis did mother have during pregnancy? (Footnote A)</th>
  <td colspan="5">
    1 <input type="checkbox" id="syphilis-surveillance-stage-primary" name="syphilis-surveillance-stage-primary"> primary
    2 <input type="checkbox" id="syphilis-surveillance-stage-secondary" name="syphilis-surveillance-stage-secondary"> secondary
    3 <input type="checkbox" id="syphilis-surveillance-stage-early-latent" name="syphilis-surveillance-stage-early-latent"> early latent
    4 <input type="checkbox" id="syphilis-surveillance-stage-late-latent" name="syphilis-surveillance-stage-late-latent"> late or late latent
      <input type="checkbox" id="syphilis-surveillance-stage-unknown" name="syphilis-surveillance-stage-unknown"> Unk
  </td>
</tr>

<tr>
  <th>21. When did mother receive her first dose of benzathine penicillin?</th>
  <td colspan="5">
    <input type="text" id="first-penicillin-dose-date" name="first-penicillin-dose-date">
    1 <input type="checkbox" id="penicillin-dose-before-pregnancy" name="penicillin-dose-before-pregnancy"> Before pregnancy
    2 <input type="checkbox" id="penicillin-dose-1st-trimester" name="penicillin-dose-1st-trimester"> 1st trimester
    3 <input type="checkbox" id="penicillin-dose-2nd-trimester" name="penicillin-dose-2nd-trimester"> 2nd trimester
    4 <input type="checkbox" id="penicillin-dose-3rd-trimester" name="penicillin-dose-3rd-trimester"> 3rd trimester
    5 <input type="checkbox" id="penicillin-dose-no-treatment" name="penicillin-dose-no-treatment"> No Treatment (Go to Q24)
    <input type="checkbox" id="penicillin-dose-unknown" name="penicillin-dose-unknown"> Unk
  </td>
</tr>
<tr>
  <th>22. What was mother’s treatment?</th>
  <td colspan="5">
    1 <input type="checkbox" id="treatment-2.4m-units" name="treatment-2.4m-units"> 2.4 M units benzathine penicillin
    2 <input type="checkbox" id="treatment-4.8m-units" name="treatment-4.8m-units"> 4.8 M units benzathine penicillin
    3 <input type="checkbox" id="treatment-7.2m-units" name="treatment-7.2m-units"> 7.2 M units benzathine penicillin
    <input type="checkbox" id="treatment-other" name="treatment-other"> Other
    <input type="checkbox" id="treatment-unknown" name="treatment-unknown"> Unk
  </td>
</tr>

<tr>
  <th>23. Did mother have an appropriate serologic response? (Footnote B)</th>
  <td colspan="5">
    1 <input type="checkbox" id="serologic-response-yes" name="serologic-response-yes"> Yes, appropriate response
    2 <input type="checkbox" id="serologic-response-no" name="serologic-response-no"> No, inappropriate response: evidence of treatment failure or reinfection
    3 <input type="checkbox" id="serologic-response-unknown" name="serologic-response-unknown"> Response could not be determined from available non-treponemal titer information
    4 <input type="checkbox" id="serologic-response-not-enough-time" name="serologic-response-not-enough-time"> Not enough time for titer to change
  </td>
</tr>


  </table>
  <div class="form-group">
    <input type="submit" value="Save">
  </div>
  <a href="#top" class="back-to-top">Back to Top</a>

</form>


  </article>
</section>




</body>


</html>
