{% extends "base.html" %}

<head>
  {% block head %}
  {{ super() }}
  {% block title %}Congenital Syphilis Page{% endblock title %}
  {% endblock head %}
</head>
<body>
  
  <header>
    <h1>CONGENITAL SYPHILIS (CS) CASE INVESTIGATION AND REPORT </h1>
  </header>
 
  <section class="row">
    <nav class="col-3">
      <ul>
        <li><a href="HEPB_form.html">Hepatitis B Pregnant Women Reporting form</a></li>
        <li><a href="CONGEN_SYPHILIS.html"> <strong>Congenital Syphilis Form</strong> </a></li>
        <li><a href="STI_form.html">Chlamydia & Gonorrhea case reporting form</a></li>
      </ul>
    </nav>
  <main class="col-9">
    <h1>Congenital Syphilis Case Reporting Form</h1>
    <form action="/" method="POST">
        
        <!-- Maternal Information Section -->
        <fieldset>
            <legend>Maternal Information</legend>
            <label for="mother_name">Mother's Name:</label>
            <input type="text" id="mother_name" name="mother_name" required><br><br>
            
            <label for="mother_date_of_birth">Mother's Date of Birth:</label>
            <input type="date" id="mother_date_of_birth" name="mother_date_of_birth" required><br><br>

            <label for="mother_residence_state">Mother's Residence State:</label>
            <input type="text" id="mother_residence_state" name="mother_residence_state" required><br><br>

            <label for="mother_residence_country">Mother's Residence Country:</label>
            <input type="text" id="mother_residence_country" name="mother_residence_country" required><br><br>

            <label for="mother_race">Mother's Race:</label>
            <select id="mother_race" name="mother_race" required>
                <option value="White">White</option>
                <option value="Black">Black</option>
                <option value="Asian">Asian</option>
                <option value="American Indian">American Indian</option>
                <option value="Pacific Islander">Pacific Islander</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label for="mother_ethnicity">Mother's Ethnicity:</label>
            <select id="mother_ethnicity" name="mother_ethnicity" required>
                <option value="Hispanic">Hispanic</option>
                <option value="Non-Hispanic">Non-Hispanic</option>
            </select><br><br>

            <label for="mother_last_menstrual_period">Mother's Last Menstrual Period:</label>
            <input type="date" id="mother_last_menstrual_period" name="mother_last_menstrual_period" required><br><br>

            <label for="first_prenatal_visit_date">Date of First Prenatal Visit:</label>
            <input type="date" id="first_prenatal_visit_date" name="first_prenatal_visit_date" required><br><br>

            <label for="prenatal_visit_trimester">Trimester of First Prenatal Visit:</label>
            <select id="prenatal_visit_trimester" name="prenatal_visit_trimester" required>
                <option value="1st trimester">1st trimester</option>
                <option value="2nd trimester">2nd trimester</option>
                <option value="3rd trimester">3rd trimester</option>
            </select><br><br>

            <label for="marital_status">Mother's Marital Status:</label>
            <select id="marital_status" name="marital_status" required>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Widowed">Widowed</option>
            </select><br><br>

            <label for="hiv_status">Mother's HIV Status:</label>
            <select id="hiv_status" name="hiv_status" required>
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
                <option value="Unknown">Unknown</option>
            </select><br><br>
        </fieldset>

        <!-- Infant/Child Information Section -->
        <fieldset>
            <legend>Infant/Child Information</legend>
            <label for="infant_date_of_birth">Infant's Date of Birth:</label>
            <input type="date" id="infant_date_of_birth" name="infant_date_of_birth" required><br><br>

            <label for="infant_birth_weight">Infant's Birth Weight (grams):</label>
            <input type="number" id="infant_birth_weight" name="infant_birth_weight"><br><br>

            <label for="infant_gestational_age">Infant's Gestational Age (weeks):</label>
            <input type="number" id="infant_gestational_age" name="infant_gestational_age"><br><br>

            <label for="infant_reactive_test">Did infant have a reactive non-treponemal test?</label>
            <select id="infant_reactive_test" name="infant_reactive_test" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">Unknown</option>
            </select><br><br>
        </fieldset>

        <!-- Testing and Treatment Information -->
        <fieldset>
            <legend>Testing and Treatment Information</legend>
            <label for="mother_syphilis_stage">Mother's Syphilis Stage:</label>
            <select id="mother_syphilis_stage" name="mother_syphilis_stage" required>
                <option value="Primary">Primary</option>
                <option value="Secondary">Secondary</option>
                <option value="Early latent">Early latent</option>
                <option value="Late latent">Late latent</option>
            </select><br><br>

            <label for="mother_treatment">Mother's Treatment:</label>
            <input type="text" id="mother_treatment" name="mother_treatment" required><br><br>

            <label for="appropriate_serologic_response">Did the mother have an appropriate serologic response?</label>
            <select id="appropriate_serologic_response" name="appropriate_serologic_response" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">Unknown</option>
            </select><br><br>

            <label for="infant_treatment">Infant's Treatment:</label>
            <input type="text" id="infant_treatment" name="infant_treatment"><br><br>

            <label for="case_classification">Case Classification:</label>
            <select id="case_classification" name="case_classification" required>
                <option value="Not a case">Not a case</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Syphilitic stillbirth">Syphilitic stillbirth</option>
                <option value="Probable case">Probable case</option>
            </select><br><br>
        </fieldset>

        <!-- Submit Button -->
        <button type="submit">Submit Report</button>
    </form>

  </main>
  </section>
      {% block footer %}
      {{ super() }}
      {% endblock footer %}

</body>

</html>
