<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keyboards" content="HTML 5, CSS3, JavaScript, JQuery, AngularJs"/>
  <meta name="description" content="Dynamic web development">
  <meta name="author" content="edmond">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <title>Login Page</title>
</head>
<body style="background-color: black;">
    <div class="headnav">
    <header>
      <h1>Login Page</h1>
      <nav class = "topnav">
        <ul>
          <li><a href="#">Home</a></li>
        </ul>
      </nav>
    </header>
    </div>
    <section>
      <article style="border-style: none;" >
        <div class="container">
    <h1>Login</h1>
    <form method="post" action="/submit_form" autocomplete="off" >
      <div class="form-group">
        <label for="email">Email Addess:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" name="submit" value="Login">
      </div>
    </form>
    Forgot Password? <a href="">Click Here</a>
  </div>
      </article>
    </section>

</body>


</html>
