{% extends "base.html" %}

<head>
  {% block head %}
  {{ super() }}
  {% block title %}Chlamydia & Gonorrhea Page{% endblock title %}
  {% endblock head %}
</head>
<body>
  
  <header>
    <h1>Chlamydia & Gonorrhea case reporting form </h1>
  </header>
 
  <section class="row">
    <nav class="col-3">
      <ul>
        <li><a href="HEPB_form.html">Hepatitis B Pregnant Women Reporting form</a></li>
        <li><a href="CONGEN_SYPHILIS.html"> <strong>Congenital Syphilis Form</strong> </a></li>
        <li><a href="STI_form.html">Chlamydia & Gonorrhea case reporting form</a></li>
      </ul>
    </nav>
  <main class="col-9">
    <h1>Chlamydia and Gonorrhea Case Reporting Form</h1>
    <form action="/" method="POST">
        <!-- Clinic Information Section -->
        <fieldset>
            <legend>Clinic Information</legend>
            <label for="health_provider">Health Provider:</label>
            <input type="text" id="health_provider" name="health_provider" required><br><br>

            <label for="contact_phone">Contact Phone Number/Fax:</label>
            <input type="text" id="contact_phone" name="contact_phone" required><br><br>
        </fieldset>

        <!-- Patient Information Section -->
        <fieldset>
            <legend>Patient Information</legend>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br><br>

            <label for="middle_name">Middle Name (Optional):</label>
            <input type="text" id="middle_name" name="middle_name"><br><br>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required><br><br>

            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" id="date_of_birth" name="date_of_birth" required><br><br>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label for="ethnicity">Ethnicity:</label>
            <select id="ethnicity" name="ethnicity" required>
                <option value="Hispanic">Hispanic</option>
                <option value="Non-Hispanic">Non-Hispanic</option>
                <option value="Unknown">Unknown</option>
            </select><br><br>

            <label for="race">Race:</label>
            <select id="race" name="race" required>
                <option value="White">White</option>
                <option value="American Indian">American Indian</option>
                <option value="Black">Black</option>
                <option value="Asian">Asian</option>
                <option value="Pacific Islander">Pacific Islander</option>
                <option value="Unknown">Unknown</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label for="phone_number">Phone Number:</label>
            <input type="tel" id="phone_number" name="phone_number"><br><br>

            <label for="alternative_phone">Alternative Phone Number:</label>
            <input type="tel" id="alternative_phone" name="alternative_phone"><br><br>

            <label for="address">Home Address:</label>
            <input type="text" id="address" name="address" required><br><br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" required><br><br>

            <label for="state">State:</label>
            <input type="text" id="state" name="state" required><br><br>

            <label for="zip_code">Zip Code:</label>
            <input type="text" id="zip_code" name="zip_code"><br><br>

            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required><br><br>
        </fieldset>

        <!-- Testing Information Section -->
        <fieldset>
            <legend>Testing Information</legend>
            <label for="test_result_type">Test Result Type:</label>
            <select id="test_result_type" name="test_result_type" required>
                <option value="Chlamydia Positive">Chlamydia Positive</option>
                <option value="Gonorrhea Positive">Gonorrhea Positive</option>
            </select><br><br>

            <label for="test_date">Test Date:</label>
            <input type="date" id="test_date" name="test_date" required><br><br>

            <label for="previous_hiv_testing">Previous HIV Testing:</label>
            <select id="previous_hiv_testing" name="previous_hiv_testing" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">Unknown</option>
            </select><br><br>

            <label for="hiv_test_result">HIV Test Result:</label>
            <select id="hiv_test_result" name="hiv_test_result">
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
                <option value="Unknown">Unknown</option>
            </select><br><br>

            <label for="last_hiv_test_date">Last HIV Test Date:</label>
            <input type="date" id="last_hiv_test_date" name="last_hiv_test_date"><br><br>
        </fieldset>

        <!-- Treatment Information Section -->
        <fieldset>
            <legend>Treatment Information</legend>
            <label for="treatment_plan">Treatment Plan:</label>
            <input type="text" id="treatment_plan" name="treatment_plan" required><br><br>

            <label for="treatment_date">Treatment Date:</label>
            <input type="date" id="treatment_date" name="treatment_date" required><br><br>

            <label for="partner_management_plan">Partner Management Plan:</label>
            <input type="text" id="partner_management_plan" name="partner_management_plan" required><br><br>
        </fieldset>

        <!-- Submit Button -->
        <button type="submit">Submit Report</button>
    </form>
  </main>
  </section>
      {% block footer %}
      {{ super() }}
      {% endblock footer %}

</body>

</html>

